Quart
discord.py
discord.ui
jishaku
asyncio
aiohttp
datetime
flask
typing
psutil
collection
pathlib
pymongo
wavelink
httpx
discord.ext-context
tasksio
motor
Augmentor
numpy
aiosqlite
gtts
langdetect
python-dotenv
pyttsx3
PyYAML
requests
openai
duckduckgo-search==6.3.6
pillow==11.0.0
colorama
chess
python-dateutil
topggpy
aiohttp
aiosqlite
colorama
discord-ui
discord.py
flask
jishaku
quart
aiohttp
aiosqlite
augmentor
chess
colorama
discord-ui
discord.py
duckduckgo-search==6.3.6
flask
gtts
httpx
jishaku
langdetect
motor
numpy
openai
pillow==11.0.0
psutil
pymongo
python-dateutil
python-dotenv
pyttsx3
pyyaml
quart
requests
tasksio
topggpy
wavelink
